*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins-Regular', sans-serif;
}
.uppermain{
    background-color: #eeeeee;
    width: 100%;
    /* border: 1px solid black; */
}
#topnav{
    margin: auto;
    /* border: .5px solid blue; */
    width: 90%;
    display: flex;
    justify-content: space-between;
}
#left{
    gap: 25px;
    align-items: center;
    display: flex;
}
#right{
    box-shadow: 1px 1px 1px 0px rgb(66, 66, 66);
}
#english{
    background-color: white;
    padding-left: 15px;
    padding-top: 4px;

    border: 2px solid rgb(255, 255, 255);
    width: 90px;
    height: 30px;
}
.lowermain{ 
    background-color: white;
    width: 100%;
    box-shadow: 0 8px 6px -6px rgb(37, 37, 37);

}
.lownav{
    height: 80px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    width:90%;
    display: flex;
    justify-content: space-between;
}
.lownav img{
    width: 200px;
    height: 60px;
    padding-top: 10px;
}
.lownav ul{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.lownav li{
    list-style: none;
}
.lownav input{ 
    border: none;
    font-weight: 500;
    font-size: medium;
    border-radius: 7px;
    width: 160px;
    height: 35px;
    margin: auto;
    background-color: rgb(69, 69, 233);
    
}
.mainpage{
    position: relative;
    background-color: none;
}
#circle1{
    position: absolute;
    left: 90px;
    opacity: 20%;
    top: 100px;
    margin: 100;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #818181;
}
#circle2{
    opacity: 20%;
    position: absolute;
    top: 370px;
    left: 500px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #818181;
}
#circle3{
    opacity: 20%;
    position: absolute;
    top: 50px;
    left: 730px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #818181;
}
#redcircle{
    opacity: 20%;
    position: absolute;
    top: 10px;
    right: 45px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #ff9191;
}
.content{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 0;
    align-items: flex-start;
    position: relative;
}
.text{
    padding-top: 90px;
}
.head{
    font-weight: bolder;
    font-size: 45px;
}
#green{
    color: rgb(27, 109, 27);
}
.midhead{
    font-weight: bold;
    font-size: 25px;
}
.para{
    font-size: 20px;
    color: #454545;
}
.img img{
    width: 600px;
}
.button{
    width: 200px;
    height: 50px;
    border: 1px solid #454545;
    border-radius: 7px;
}
.button a{
    color: #454545;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 14px;
}
.donation{
    border-radius: 12px;
    background-color: rgb(208, 255, 208);
    position: relative;
    height: 160px;
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-around;
}
.menu{  
    margin-top: 22px;
    width: 75%;
    right: 0;
    position: absolute;
    display: flex;
    justify-content:space-around;
    padding-top: 40px;
}
.help{
    padding-top: 30px;
    padding-left: 30px;
    left: 0;
    position: absolute;
    background-color: none;
    width: 27%;
}
#helpbold{
    font-size:30px;
    font-weight: 600;
}
#quickdonation{
    color: rgb(94, 94, 243);
    font-size:19px;
    font-weight: 500;
}
#m1{
    background-color: rgb(53, 52, 52);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 50px;
}
#m2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 50px;
}
#m3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 50px;
}
#m4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 50px;
}
#donate{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: greenyellow;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;

}
.white{
    font-size: 16px;
    font-weight: 600;
    position: relative;
    display: inline;
    background-color: white;
    border-radius: 5px;
}
#blanket{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.doing{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.middle{
    width: 100%;
    height: max-content;
    border: 1px solid black;
}
.box{
    
    display: flex;
    justify-content: center;
    width: 100%;
    height: 165px;
}
.inbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:85%;
    height: 100%;
}
.thumb{ 
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
    width:15%;
    height: 90%;
    background-color: rgb(228, 253, 223);
    border-radius: 5px;
}
.midlink{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
}
#plink{
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 100%;
}
.pbox{
    position: relative;
    text-align: left;
    width: 31.5%;
    height: 90%;
    border-radius: 10px;
}
#pbox1{
    padding-top: 170px;
    background-image: url(./flood.jpg);
    background-size: cover;

}
#pbox2{
    padding-top: 190px;
    background-image: url(./training.jpg);
    background-size: cover;
}
#pbox3{
    padding-top: 190px;
    background-image: url(./needy.jpg);
    background-size: cover;
}
.ptxt{
    font-size: large;
    font-weight: 600;
    color: rgb(248, 248, 248);
}
.btndonate{
    outline: none;
    text-align: center;
    background-color: rgb(196, 255, 108);
    width: 95%;
    height: 45px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}
.dbtn{
    text-align: center;
}   